<link rel="stylesheet" type="text/css" href="styles/main.css">
<aside>
  <div class="top row">
    <h1>Bloc Chat</h1>
    <button ng-click="home.newRoom()">New Room</button>
  </div>
  <div ng-repeat="room in home.rooms">
    <p class="room" ng-click="home.selectRoom(room.$value, room.$id)"> {{room.$value}} </p>
  </div>
</aside>
<main>
  <div class="header">
    <h2>{{home.currentRoom}}</h2>
  </div>
  <div class="message-list">
  <div ng-repeat="message in home.messages[0]">
    <div ng-class-odd="'oddMessage'" ng-class-even="'evenMessage'">
      <h4 class="username">{{message.username}}</h4>
      <div class="messageContents">
        <p class="message">{{message.content}}</P>
        <div class="sentTime">{{message.sentAt}}</div>
      </div>
    </div>
  </div>
  </div>
  <div class="message-bar">
    <input class="message-bar-text" type="text" ng-model="home.currentMessage"/>
    <button class="btn btn-primary" ng-click="home.sendMessage()">Send</button>
  </div>
</main>
