<link rel="stylesheet" type="text/css" href="styles/loginForm.css">
<div class="modal-header">
  <h3 class="modal-title">{{usermodal.state}}</h3>
</div>
<div class="error-bar">
  {{usermodal.errorDisplay}}
</div>
<div class="input-field">
  <input type="text" ng-model="usermodal.email" placeholder="Email"/>
</div>
<div class="input-field">
  <input type="text" ng-model="usermodal.password" placeholder="Password"/>
</div>
<div class="submit-button" ng-show="usermodal.state=='Register'">
  <button class="btn btn-primary" ng-click="usermodal.register()">Register</button>
</div>
<div class="other-login-path" ng-show="usermodal.state=='Register'">
  <p> Already have an account? </p>
  <button class="btn btn-secondary" ng-click="usermodal.state='Log In'">Log In</h3>
</div>
<div class="submit-button" ng-show="usermodal.state=='Log In'">
  <button class="btn btn-primary" ng-click="usermodal.signin()">Log In</button>
</div>
<div class="other-login-path" ng-show="usermodal.state=='Log In'">
  <p> Don't have an account? </p>
  <button class="btn btn-secondary" ng-click="usermodal.state='Register'">Register</h3>
</div>
